@import "../../../variables.scss";

.testimonials {
  width: 1180px;
  margin: 0 auto;
  margin-top: 100px;

  h2 {
    margin-bottom: 30px;
    color: $accentColor;
    font-size: 50px;
    font-weight: 500;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: $accentColor;
    color: $bgColor;
    transition: all 0.5s;

    &:hover:enabled {
      background-color: $accentColorHover;
      cursor: pointer;
      transition: all 0.5s;
    }

    &:disabled {
      background-color: $greyColor;
    }
  }
}

.testimonial {
  padding: 50px;
  text-align: center;
  background-color: $accentColor;
  color: $bgColor;

  .name {
    margin-top: 20px;
    font-size: 22px;
    font-style: italic;
  }
}

.slider {
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  grid-column-gap: 30px;
  align-items: center;

  svg {
    height: 25px;
    fill: $bgColorDarker;
  }
}

.dots {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30px);
  grid-column-gap: 10px;
  justify-content: center;
  margin-top: 20px;

  .dot {
    width: 30px;
    height: 5px;
    background-color: $greyColor;
    transition: all 0.5s;
  }

  .dot.active {
    background-color: $accentColor;
  }
}
