// Colors
$textColor: #ffffff;
$greyColor: #888888;
$greyColorLight: #a9a9a9;
$bgColor: #051622;
$bgColorDarker: #030e16;
$bgColorHover: #072236;
$accentColor: #f1b814;
$accentColorHover: #fdcf71;
$errorColor: #ff0000;

// Sizes
$containerWidthDesctop2: 1320px;
$containerWidthDectop1: 1180px;
$containerWidthTadlet: 960px;
$containerWidthSmartphone2: 720px;
$containerWidthSmartphone1: 540px;
